:root {
  --bg-color: var(--color--tk-light-white);
  --text-color: var(--color--tk-black);
}

[data-theme="dark"] {
  --bg-color: var(--dark--tk-white);
  --text-color: var(--dark--tk-black);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition-property: background-color, color;
  transition-duration: 1s, 1s;
  transition-delay: 0.5s, 1s;
}

.fade-border {
  border-width: 0 1px;
  border-style: dashed;
  border-image: linear-gradient(to bottom,
      transparent,
      #00d2ff 20%,
      #00d2ff 80%,
      transparent) 1 100%;
}

::-webkit-scrollbar {
  width: 12px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background: #d2dde8;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
  border: #d2dde8 4px solid;
}